{{ define "main" }}

<!-- Banner -->
{{ with .Site.Data.homepage.banner }}
<section class="banner-main py-7" id="banner">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 col-md-8">
        <div class="main-banner">
          <span class="text-color font-weight-bold">{{ .writter | markdownify }}</span>
          <h1 class="mb-3 mt-2">{{ .title | markdownify }}</h1>

          <h3 class="mb-4">{{ .content | markdownify }}</p>
          <h4 class="mb-4">Sign up with your email address to get notified.</h4>
          <div class="col-lg-6">
            <div class="subscribe">
              <input type="text" class="form-control mb-4" placeholder="Email Address">
              <a href="#" class="btn btn-main">Subscribe<i class="ti-angle-right ml-3"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Designs-->
      <div class="col-lg-5 d-none d-lg-block design-wrap">
          {{ range .design}}
              <div class="banner-img pt-5">
                <img src="{{ .image | relURL }}" alt="Design" class="img-fluid">
            </div>
          {{ end }}
        </div>

    </div>
  </div>
</section>
{{ end }}

{{ end }}
